[Unit]
Description=coverage_task nodes
After=network.target

[Service]
Type=simple
User=orangepi
ExecStart=/usr/bin/bash /opt/ros/humble/share/opennav_coverage_task/launch/coverage_task.sh
ExecStop=/usr/bin/killall -9 component_container_isolated
KillSignal=SIGINT
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
